/* Réglage Généraux */

@font-face {
    font-family: Titre;
    src: url();
}

@font-face {
    font-family: Text;
    src: url();
}

/* Suprimer toutes les marges par défauts pour ne pas être embété par celle-ci */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

/* Palette de couleur*/

/*pour les arrière-plans ou éléments forts*/
    --couleur-Burger-Orange: #E76F2C;

/*pour les boutons ou accents*/
    --couleur-IDK: #FDBE3B;

/*pour les titres ou textes foncés*/
    --couleur-Smoky-Brown: #4A2E21;
    --couleur-Smoky-Brown-trans: #4a2e2100;

/*pour le texte clair ou les fonds doux*/
    --couleur-Creamy-Beige: #FCE8D3;
    --couleur-Creamy-Beige-trans: #fce8d300;
}

#nav-bar{

        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: center;
        padding: 10px;

}

#logo{
    width: 7vh;
    margin: 2%;
    
}

nav{
    
    position: fixed;
    background-color: var(--couleur-Creamy-Beige-trans);

    width: 100vw;
    z-index: 10;

    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid var(--couleur-Smoky-Brown-trans)4px;

    transition: background-color 500ms, border-bottom 500ms;

}

nav:hover{
     background-color: var(--couleur-Creamy-Beige);
     border-bottom: solid var(--couleur-Smoky-Brown)4px;
     
}


#nav-bar{
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-content: center;
        padding: 5px;
    
}

.button-box {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width : 15%;
}

.nav-button{
    font-size: 1.5rem;
    display: block;
    text-decoration: none;

    /*background-color: ;*/
    color: var(--couleur-Creamy-Beige);
    padding: 5px;

    width: 100%;
    margin: 5px;

    text-align: center;
    border-radius: 10px;

    transition: color 500ms;
    
}

.nav-button:hover{
    color: var(--couleur-Smoky-Brown);
}

.underline {
    width : 0%;
    height: 5px;
    background-color: var(--couleur-Burger-Orange);
    transition: width 700ms;
}

