/* Réglage Généraux */

@font-face {
    font-family: Titre;
    src: url();
}

@font-face {
    font-family: Text;
    src: url();
}

/* Suprimer toutes les marges par défauts pour ne pas être embété par celle-ci */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

/* Palette de couleur*/

/*pour les arrière-plans ou éléments forts*/
    --couleur-Burger-Orange: #E76F2C;

/*pour les boutons ou accents*/
    --couleur-IDK: #FDBE3B;

/*pour les titres ou textes foncés*/
    --couleur-Smoky-Brown: #4A2E21;

/*pour le texte clair ou les fonds doux*/
    --couleur-Creamy-Beige: #FCE8D3;
}

#nav-bar{

        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: center;
        padding: 10px;

}

#logo{
    width: 10%;
    
}

#nav{
    position: fixed;
    background-color: var(--couleur-Smoky-Brown);

    width: 100vw;
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid var(--couleur-Smoky-Brown)4px;

}


#nav-bar{
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-content: center;
        padding: 5px;
    
}

.button-box {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width : 15%;
}

.nav-button{
    font-size: 1.5rem;
    display: block;
    text-decoration: none;

    /*background-color: ;
    color: ;*/
    padding: 5px;

    width: 100%;
    margin: 5px;

    text-align: center;
    border-radius: 10px;
    
}

.underline {
    width : 0%;
    height: 5px;
    background-color: var(--couleur-Burger-Orange);
    transition: width 700ms;
}

